body
{
	background-color: #3399FF;
}

.title
{
	text-align: center;
}

.about
{
	text-align: center;
}

.container
{
	display: flex;
  	align-items: center;
  	justify-content: center;
	color: #07198D;
	font-family: Arial;
	border: solid #07198D 3px;
	border-radius: 10px;
	height: auto;
	width: auto;
	margin: 20px;
	padding: 20px;
}

.answers
{
   	text-align: center;
   	display: flex;
  	align-items: center;
   	justify-content: center;
   	border: solid #07198D 3px;
	border-radius: 10px;
	font-family: Arial;
   	margin: 20px;
   	padding: 20px;
   	height: 50px;
   	width: 150px;
}

.choice
{
	width: auto;
	height: auto;
	margin: 20px;
}

.imageChoice
{
	max-width: 100%;
	max-height: 100%;
}

.flag
{
	width: 60%;
	height: 60%;
}

.imageFlag {
    max-width: 100%;
    max-height: 100%;
}

form
{
  	display: grid;
  	grid-template-columns: 1fr 1fr;
}

input
{
	align-items: center;
	width: max-content;
}

.check
{
	font-family: Arial;
   	margin-left: 20px;
   	height: auto;
   	width: auto;
}

.aboutBox
{
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: auto;
  }